@use 'primeicons/primeicons.css';


// @import "tailwindcss";
// @import "tailwindcss-primeui";


@font-face {
  font-family: LibreFranklin;
  src: url('src/app/assents/fonts/LibreFranklin.ttf');
}

html {
  font-size: 16px;
  font-family: LibreFranklin;
}