@use 'primeicons/primeicons.css';

.libre-franklin-500 {
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 16px;
  font-family: 'Libre Franklin';
}